body{
    /** couleurs & font **/
    background-color: #000;
    color: #fff;
    font-family: monospace;

    /** centering **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#terrain{
    /** bordure blanche visible **/
    position: relative;
    border-top : 1px solid white;
    border-bottom : 1px solid white;

    /** dimension terrain**/
    width: 800px;
    height: 400px;

}

.tilt{
    border-color:  rgb(0, 255, 0) !important;

}

#balle{
    position: absolute;

    /** la balle est au centre**/
    top: 50%;
    left: 50%;

    /** Design de la balle **/
    border-radius: 10px;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255);
}

.raquette{
    position: absolute;

    --hauteur : 25%;

    top : calc( 50% - var(--hauteur)/2 ); /** milieu de page */

    /** design**/
    width: 10px;
    height : var(--hauteur);
    background-color: rgb(255, 255, 255);

}

/** raquettes gauche et droite**/

#gauche{

    right: 1%;
}

#droite{
    
    left: 1%;
}
